<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371806852131-lhp2afoc6l73ie673mrnpe2cprpjoimm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371806852131-lhp2afoc6l73ie673mrnpe2cprpjoimm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>371806852131-12mq4jnic1l801gssq01ga5qcsmsi2ck.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAF_kDx8G0_9BlePDKQkn66hz0EZuUViB4</string>
	<key>GCM_SENDER_ID</key>
	<string>371806852131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.healthtrackerfyp2</string>
	<key>PROJECT_ID</key>
	<string>ffhealthtrackerfyp2</string>
	<key>STORAGE_BUCKET</key>
	<string>ffhealthtrackerfyp2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371806852131:ios:40c5b035628a5788510d96</string>
</dict>
</plist>